.footer-container{
    position: relative;
}
.footer-container hr{
    border: 1px solid var(lightgray);
}
.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    height: 20rem;
}
.social-links{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.social-links img{
    width: 2rem;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.logo-footer img{
    width: 10rem;
}
.blur-footer-1{
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    background: red;
}
.blur-footer-2{
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    background: rgb(255, 115, 0);
}